h1{color: red;}
.red-color{color: rgb(0, 0, 0);}
section{
    display: flex;
}
.half-width{
    width: 70%;
    padding-left: 10%;
}
.half-width img{
    width: 60%;
    height: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( yellow , red);
    padding: 5px 20px;
    border-radius: 5px;
    color: antiquewhite;
    font-weight: 200;
    
}